@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*, *:after, *:before {
    box-sizing: border-box;
}

html, body {
    background: #e6f1ff;
    font: normal 18px arial!important;
}

.clear {
    clear: both;
}

#man-people-user, #lock-locker {
    fill: white;
}

.wrapper {
    width: 300px;
    margin: 12% auto;
}

form {
    position: relative;
}

.clear {
    clear: both;
}

.sign-in {
    float: left;
    font-size: 1.3em;
}

.button {
    float: right;
    color: #7f8084;
    border: 1px solid #22272d;
    padding: 7px 15px;
    border-radius: 3px;
    font-size: 0.8em;
    cursor: pointer;
}

.button:hover {
    color: #d3d3d3;
}

.lock {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    padding: 7px;
    left: 5px;
}
.lock::after {
    content: "";
    width: 1px;
    height: 30px;
    position: absolute;
    background: #22272d;
    top: 0px;
    left: 100%;
}

.user {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    padding: 7px;
    left: 5px;
}
.user::after {
    content: "";
    width: 1px;
    height: 30px;
    position: absolute;
    background: #22272d;
    top: 0px;
    left: 100%;
}

input {
    width: 100%;
    padding: 5px;
    height: 40px;
    border-radius: 3px;
    margin: 5px 0;
    outline: none;
}



.user-input:focus .user {
    background: white !important;
}

input[type="text"] {
    background: transparent;
    border: 2px solid #22272d;
    /*padding-left: 45px;*/
    /*color: #e6b333;*/
}

input[type="password"] {
    background: transparent;
    border: 2px solid #22272d;
}

input[type="submit"] {
    background: #e6b333;
    border: none;
    text-align: center;
    font-size: 0.8em;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

.radio-check {
    width: 50px;
    height: 20px;
    border: 1px solid #22272d;
    border-radius: 30px;
    margin-top: 10px;
    float: left;
    text-align: center;
    padding: 4px 0;
    color: #e6b333;
    font-size: 0.65em;
    position: relative;
}
.radio-check label {
    margin: 0 2px;
    cursor: pointer;
}
.radio-check .switch-selection {
    display: block;
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #babbbd;
    margin-top: -11px;
    margin-left: 11px;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

.radio-yes:checked ~ .switch-selection {
    margin-left: 25px !important;
}

.check-label {
    font-size: 0.8em;
    color: #7f8084;
    margin-top: 10px;
    float: left;
    padding: 3px 0;
    margin-left: 10px;
}

.forgot-label {
    font-size: 0.8em;
    color: #7f8084;
    margin-top: 10px;
    float: right;
    padding: 3px 0;
    cursor: pointer;
}

.header {
    display: flex;
    width: 100%;
    flex-flow: nowrap;
    justify-content: end;
    border-bottom: 1px solid grey;
}
.logout-block {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 60px;
}
.profile-header {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 60px;
}
.logout-link:hover {
    text-decoration: underline;
    cursor: pointer;
}
.logout-link {
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.xml-input-main-block {
    width: 550px;
    margin-top: 70px;
    margin-left: 50px;
}

.xml-input-main-input {
    display: flex;

}
#xml-main-button {
    border-radius: 10px;
    height: 40px;
    border: 1px solid black;
    margin: auto;
    margin-left: 30px;
    width: 120px;
    color: white;
    background-color: black;
    cursor: pointer;
}
#xml-main-button:hover {
    background-color: gray;
}

.xml-result-ok {
    padding-left: 30px;
}
.xml-result-ok-list-title {
    text-decoration: underline;
    font-size: small;
    cursor: pointer;
}

.xml-result-ok-list {
    padding-left: 30px;
    display: none;
}

a.xml-result-ok-link {
    display: block;
    color: black;
}


.xml-result-err {
    padding-left: 30px;
}
.xml-result-err-list-title {
    text-decoration: underline;
    font-size: small;
    cursor: pointer;
}

.xml-result-err-list {
    padding-left: 30px;
    display: none;
}

a.xml-result-err-link {
    display: block;
    color: black;
}

.xml-main-preloader {
    padding-left: 30px;
    padding-top: 60px;
}

.xml-main-result {
    padding-top: 60px;
}

.header-title {
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.header-left-container {
    padding-left: 45px;
    display: flex;
    width: 100%;
    align-items: center;
}

.main-history-block {
    margin-top: 75px;
    margin-left: 50px;
}

.main-history-container {
    margin-top: 25px;
}

.main-history-item {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    border: 1px solid gray;
    border-radius: 9px;
    padding: 10px;
    margin-bottom: 10px;
}
.main-history-date {
    width: 200px;
}

.subscribe-link {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.subscribe-link:hover {
    text-decoration: underline;
}

.subscribe-form-period-block {
    display: flex;
}
.subscribe-form-submit-block {
    display: flex;
    align-items: center;
}

.subscribe-form-bottom-block {
    display: flex;
    justify-content: space-between;
}

.subscribe-form-url-block {
    display: flex;
}

.subscribe-form-container {
    max-width: 700px;
    margin: 50px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
}

.subscribe-form-submit {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 15px;
    border: 0;
    cursor: pointer;
}

.subscribe-form-submit:hover {
    background-color: gray;
}

.profile-subscribes-block {
    margin-top: 75px;
    margin-left: 50px;
}

.profile-subscribes-container {
    margin-top: 25px;
}

.profile-subscribes-item {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    border: 1px solid gray;
    border-radius: 9px;
    padding: 10px;
    margin-bottom: 10px;
}
.subscribe-delete-button {
    cursor: pointer;
    text-decoration: underline;
}

.subscribe-delete-button:hover {
    color: darkred;
}